/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 @import url('https://fonts.googleapis.com/css?family=Pacifico');
 @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

 * {
  font-family: 'Lato', sans-serif;
 }
 body{
   overflow-x: hidden;
 }
nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
a{
  color: #adbf9f;
  cursor: pointer;
}

.fullscreen{
  height: 100vh;
  width: 100vw;
}

.active-menu{
  color: red;
}
.no-pad-bot{
  padding: 0;
}
.pacifico{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #5eb41b;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
#tab { display:inline-block; 
  margin:0 .5rem 0 .5rem; }

.mynav{
  font-size: 20px;
  color: #adbf9f !important;
  font-weight: 100;
  z-index: 2;
}
.active-nav{
  color: #fd0036;

}

.active-nav::after{
  display: inline-block;
  content: "";
  border-top: .2rem solid #34690a;
  width: 12rem;
  margin-left: -12rem;
  margin-bottom: -1rem;
}

.icon-block {
  padding: 0 15px;
      /* margin: 0 auto; */
      display: flex;
      flex-direction: column;
      /* justify-content: stretch; */
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-image: url('../images/footer_image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.border
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flower-right{
  position: absolute;
  width: 20%;
  right: 0;
  top: 0;
  z-index: 2;
}
.flower-left{
  position: absolute;
  width: 14%;
  left: 0;
  bottom: -27vh;
  z-index: 2;
}
.bor{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
 z-index: 1;
  width: 80vw;
}
.banner-sec{
  background-image: url(../images/seed-bg.png);
  background-position: center;background-size: cover;
  background-repeat: no-repeat;
}
.banner-sec .mynav{
  position: relative;
  top: 15vh;
}
.heart{
  background-color: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  /* box-shadow: 0 0 15px 0px #b6c5a9; */
  position: absolute;
  bottom: 6vh;
  z-index: 12;
  
}
.heart img{
  margin: 0 auto;
}
.heart::after{
  content: "";
  width: 100%;
  height: 100%;
  /* background: url(../images/enquiryIcon.svg) center no-repeat; */
  /* background-size: 54px 54px; */
  display: block;
  -webkit-animation: ripple 1.5s ease-in-out infinite;
  animation: ripple 1.5s linear infinite;
  border: 10px solid rgba(244, 103, 124, 0.23);
  /* box-shadow: 0 6px 10px 2px rgba(0,0,0,0.1); */
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
/* who we are */
.who{
  padding-top: 100px;
  margin-top: -30px;
  margin-bottom: 0;
  padding-bottom: 100px;
}
.who-sec{
  background-image: url(../images/what-bg.png);
  background-position: center;background-size: cover;
  background-repeat: no-repeat;
}
.who-sec  .active-nav::after{
  width: 9rem !important;
  margin-left: -9rem;
  margin-bottom: -1rem;

}
.who-sec h5{
  margin-top: 60px;
  }
  .who-sec h6{
    font-size: 13px;
  color: #adbf9f !important;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 5px;
    }

.who-sec p{
margin-top: 20px;

font-size: 13px;
line-height: 20px;
}
.who .border{
  
  border: solid 1.5px red;
  padding: 2rem;

}
.who .h6{
  color: #adbf9f;
}
.who .content{
  background-color: rgba(250, 2450, 250, 0.90);

  padding: 50px;
}
.vertical{
  position: relative;
}
hr{
  box-sizing: content-box;
  height: 40vh;
  color: red;
  background-color: red;
  border: none;
  right: 0;
}
.vcircle1{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: red;
  right:19.65vw;
}
.vcircle2{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: red;
  right: 19.65vw;
  top:40vh;
}
.line{
  margin-left: 40vw;
}
.vertical{
  position: absolute;
}
.social{
  display: flex;
  flex-direction: column;
  position: absolute;
  /* margin-left: 22vw; */
  right: 18.5vw;
  top: 10vh;
  z-index: 141;
}
.social img{
  width: 80%;
  /* height: auto; */
  /* margin-top: 32px; */
  margin: 4px;;
 
}
.cir-bg{
  background-color: white;
  width: 40px;
  /* background-color: #0e0e0e; */
  padding: 3px;
  border-radius: 50%;
  height: 40px;
  margin-top: 10px;
}
.vtext{
    transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 18px;
    color: red;
    padding-left: 26px;

}


/* what section */
.what-sec{
  background: linear-gradient(135deg, rgba(253,221,228,1) 0%, rgba(255,255,255,0.87) 42%, rgba(255,255,255,0.68) 100%);
  background-position: center;background-size: cover;
  background-repeat: no-repeat; background-size: cover;
}
.what-cont{
  padding: 300px 0px 200px 0;
}
.what-sec h5{
  font-size: 25px;
  margin-bottom:10px; 
}
.what-sec h6{
  font-size: 13px;
  color: #adbf9f !important;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 5px;
}
.content{
  padding: 10px 30px;
}

.what-sec h6{
  color: #adbf9f;
}
.what-seed h4{
  padding-left: 27px;
}
.what-sec  .active-nav::after{
  width: 14rem !important;
  margin-left: -14rem !important;
  margin-bottom: -1rem;

}
.what-sec p{
  
font-size: 13px;
line-height: 20px;
}
.side-flower{
  position: relative;
  width: 80%;
  padding-left:200px; 

}
.side-flower img{
  width: 41%;
  position: absolute;
  right: -20vw;
  bottom: -28vh;
}
/* why section */
.why-sec{
  background-image: url(../images/seed-bg.png);
  background-size: cover;
  
}
.why-sec h4{
  padding-top:200px;
}

.card-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 90px 0 200px 0;

}
.circle{
width: 80px;
height: 80px;
border-radius: 50%;
box-shadow: 2px 4px 10px 0px #b9e69c80;
margin-bottom: 60px;
}
.circle img{
  width: 60%;
  margin: 0 auto;
}
.card-panel h5{
  margin-bottom:30px;
}
.card-t1::after{
  display: inline-block;
  content: "";
  border-top: .2rem solid #fd0c3f;
  width: 1.9rem;
  margin-left: -10rem;
  margin-bottom: -1rem;
}
.card-t2::after{
  display: inline-block;
  content: "";
  border-top: .2rem solid #fd0c3f;
  width: 1.9rem;
  margin-left: -8.5rem;
  margin-bottom: -1rem;
}
.card-t3::after{
  display: inline-block;
  content: "";
  border-top: .2rem solid #fd0c3f;
  width: 1.9rem;
  margin-left: -5rem;
  margin-bottom: -1rem;
}

.card-text{
  font-size: 13px;
  color: #acb9a2;
  margin-top: 15px;
}
.card-panel{
  padding: 75px 50px;
  box-shadow: 0 0 20px 0px #c1c6bdb8;
}


/* how section */
.how-sec{
  background-color:#feebef;
}
.how-sec .mynav{
  margin-top: 60px;
}
.how{
  display: flex;
  justify-content: space-around;
  margin:150px 0 250px 0;
}
.step_icons{
  width: 30%;
  margin: 0 auto;
}
.soil{
  width: 48%;
  margin: 0 auto;
}
.seed{
  width: 43%;
  margin-left: 74px;
}
.plant{
  width: 24%;
  margin: 0 auto;
}
.how-sec h5{
  color: #fd0036;
  font-size: 18px;
  margin-top: 60px;
}
.how-sec .step-text{
  color: #44151d;
  font-size: 12px;

}
.sun{
  width: 20%;
  position: relative;
  right: -8vw;
  /* top: 3px; */
  margin-top: -43px;
}
.step-text{
  font-size: 16px;
  line-height: 21px;
}
/* footer */
.footer-cont{
  margin-top: 150px;


}


@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
 @keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}